/* Accordion styles */
.accordion {
    border: none;
    outline: none;

    color: white;
    background: none;

    text-transform: capitalize;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

    padding-top: 10px;
}

.inlineAccordion {
    border: none;
    outline: none;

    color: white;
    background: none;

    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;

    padding: 0px;
    margin: 0px;
    width: 100%;
}

.accordion:hover {
    color: red;
}

.inlineAccordion:hover {
    background-color: rgb(64, 64, 64);
}

.accordionPanel {
    padding-left: 5px;
    font-size: 14px;
}

/* Table styles */
.ajkTable {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    width: 100%;
    border-spacing: 0px;
}

.ajkTable tbody tr td.rightAlignedColumn {
    text-align: right;
}

.ajkTable tbody tr:nth-child(odd) td {
    background: rgb(16, 16, 16);
}

/* Inline text styles */
span.ajkAdjustment {
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    float: left;
    text-align: right;
}

span.ajkDisabled {
    color: rgb(64, 64, 64);
}

span.ajkAdjustment.positive {
    color: rgb(64, 256, 64);
}

span.ajkAdjustment.negative {
    color: rgb(256, 64, 64);
}

/* Modal dialog */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}

.modalContent {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    min-height: 100px;
    background: #201F1D;
}

.modalCloseButton {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalCloseButton:hover,
.modalCloseButton:focus {
    text-decoration: none;
    cursor: pointer;
}

.resourceToggleContainer
{
    width: 200px;
    margin-right: 50px;
}

.boundedTable
{
    width: 100%;
    table-layout: fixed;
}

div.graphContainer
{
    width: 100%;
}

div#perTickGraph
{
    width: 100%;
    height: 512px;
}

div#purchasesGraph
{
    width: 100%;
    height: 256px;
}

/* Graph styles */
text.tooltip {
    font-size: 12px;
    font-family: Arial;
    fill: #fff;
    pointer-events: none;
}

svg .title {
    fill: #fff;
    font-size: 18px;
    font-family: Arial;
}

path.line {
    fill: none;
    stroke-width: 1.5px;
}

text.lineLabel {
    font-size: 12px;
    font-family: Arial;
}

.axis path,
.axis line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis .tick {
    fill: #fff;
    font-size: 12px;
    font-family: Arial;
}

circle.eventBubble {
    radius: 8px;
    stroke: steelblue;
    stroke-width: 3px;
    fill-opacity: 0.1;
}